# Database
DATABASE_URL="postgresql://user:password@localhost:5432/avin_furniture"

# NextAuth
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Upload (Optional - for images)
UPLOADTHING_SECRET=""
UPLOADTHING_APP_ID=""
